{% extends 'base.html'%}
{% load static %}


{% block page_title%}
    <title>Студенту</title>
{% endblock%}


{% block studentu_posts%}
      <div class="d-flex flex-column align-items-center justify-content-center blog">


        {%for post in object%}
          {%if post.is_active%}

          {%include "modal.html"%}

        <div class="d-flex flex-column align-items-center justify-content-center post">
          <div class="card">
              {% if post.main_image %}
              <a href="abiturients:{{post.get_absolute_url}}" data-toggle="modal" data-target="#modal-{{post.id}}">
                  <img src="/main_images/{{ post.main_image }}" class="card-img-top" alt="...">
              </a>
              {% endif %}
              <div class="card-body">
                <a href="blog:{{post.get_absolute_url}}"  class="card-title" data-toggle="modal" data-target="#modal-{{post.id}}">{{ post.title }}</a>

                <div class="underline"></div>
                <p class="date"><i>{{post.pub_date}}</i></p>
                {% if post.short_description %}
                  <p class="card-text">{{post.short_description | safe}}</p>
                {% endif %}
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor%}

      </div>
{% endblock%}

{% block studentu_scripts%}
<!-- Optional JavaScript -->
  <script type="text/javascript">
    document.getElementById("student").classList.add("active-page");
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
     if (document.body.scrollTop > 205 || document.documentElement.scrollTop > 205) {
        document.getElementById("menu").style.background="#262626a6";
        document.getElementById("menu").style.opacity="1";
        document.getElementById("menu").style.transition="0.8s";
      } else {
        document.getElementById("menu").style.background="transparent";
        document.getElementById("menu").style.opacity="1";
        document.getElementById("menu").style.transition="0.4s";
      }
    }
  </script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock%}
